body{
    margin: 0;
}
nav{
    .container{
        max-width: 1200px;
        margin: auto;
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media (max-width:700px) {
            flex-direction: unset;
            align-items: unset;
            justify-content: space-between;
        }
        .logo{
            position: fixed;
            @media (max-width:700px){
                position: unset;
            }
            h1{
                width: 200px;
                margin-bottom: 10px;
                .logo_show{
                    width: 100%;
                }
                &:hover{
                    .logo_show{
                        display: none;
                    }
                    .logo_hover{
                        display: block;
                    }
                }
            }
        }
        .logo_hover{
            display: none;
        }
        .nav_btn{
            position: fixed;
            top: 120.92px;
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            @media (max-width:700px) {
                flex-direction: column;
                align-items: center;
                position: absolute;
                z-index: 2;
                top: 120px;
                background-color: #00ff00d8;
                width: 100%;
                margin: 0 -5%;
                height: 0;
                overflow: hidden;
                transition-duration: 0.5s;
                transition-timing-function: ease-in-out;
                &.active{
                    transition-timing-function: ease-in-out;
                    height: 200px;
                }
            }
            span{
                padding: 0 17px;
                font-size: 18px;
                color: rgb(0, 0, 0);
                @media (max-width:700px) {
                    display: none;
                }
            }
            li{
                @media (max-width:700px){
                    padding: 50px 0;
                    &:last-child{
                        margin-top: -60px;
                    }
                }
            }
            .text{
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 22px;
                color: black;
                text-decoration: none;
                transition: 0.2s;
                @media (max-width:700px){
                    font-size: 30px;
                }
                &:hover{
                    color: grey;
                    @media (max-width:700px){
                        color: white;
                    }
                }
            }
        }
        .bar{
            display: none;
            font-size: 30px;
            margin-top: 35px;
            @media (max-width:700px) {
                display: block;
                i{
                    cursor: pointer;
                }
            }
        }
    }
}
section{
    padding-bottom: 10%;
    .banner{
        max-width: 1140px;        
        margin: 200px auto 8%;
        @media (max-width:700px){
            margin-top: 79.08px;
            max-width: 700px;
        }
        .image{
            width: 100%;
            margin: auto;
            transition: 0.3s;
            @media (max-width:700px){
                width: 100%;
            }
            img{
                width: 100%;
            }
        }
    }
    .content{
        .intro{
            max-width: 1140px;
            margin: auto;
            padding: 0 5%;
            .title{
                display: flex;
                justify-content: space-between;
                @media (max-width:700px){
                    display: block;
                }
                h4{
                    color: #00ff00;
                    font-size: 70px;
                    line-height: 80px;
                    margin: 0;
                    @media (max-width:700px){
                        font-size: 12vw;
                        line-height: 14vw;
                    }
                }
                h5{
                    text-align: right;
                    font-size: 25px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    margin: unset;
                    margin-top:12px;
                    @media (max-width:700px){
                        text-align:unset;
                    }
                    p{
                        font-weight: 100;
                        margin-top: 5px;
                    }
                }
            }
            .text_concent{
                padding: 4% 0 6%;
                padding-left: 100px;
                @media (max-width:700px){
                    padding-left: 0px;
                }
                .block{
                    width: 20px;
                    height: 1px;
                    margin: 20px 0 40px;
                    border-bottom: 1px solid black;
                }
                .en{
                    color: #4D4D4D;
                }
            }
        }
        .work_img{
            img{
                width: 100%;
                @media (max-width:700px){
                    margin-bottom: 10px;
                }
            }
            .box1140{
                max-width: 1140px;
                margin: auto;
            }
            .image1{
                @media (min-width:700px){
                    width: 50%;
                    margin-left: auto;
                    img{
                        width: 100%;
                    }
                }
            }
            .image2{
                @media (min-width:700px){
                    margin: 18% 0 15%;
                    position: relative;
                    width: 65%;
                }
                .handwriting{
                    display: none;
                    @media (min-width:700px){
                        display: block;
                        position: absolute;
                        width: 60%;
                        top: -20%;
                        right: -47%;
                        mix-blend-mode: multiply;
                        opacity: 0.7;
                        // ↑ multiply:色彩增值
                    }
                }
            }
            .bg{
                max-width: 1920px;
            }
            .bg1{
                padding: 5%;
                background-color: #00c286;
                @media (min-width:700px){
                    padding: 10% 0 25%;
                    position: relative;
                    z-index: -1;
                }
            }
            .image3{
                width: 100%;
            }
            .group1{
                @media (min-width:700px){
                    margin: 15% auto;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    img{
                        width: calc(98% / 3);
                        margin-bottom: 1%;
                    }
                }
            }
            .image4{
                @media (min-width:700px){
                    position: relative;
                    margin-top: -25%;
                    z-index: -1;
                }
                
            }
            .group2{
                max-width: 1000px;
                margin: 15% auto 10%;
                .img1{
                    display: block;
                }
                .img3{
                    margin-top: 10%;
                }
                p{
                    text-align: right;
                }
            }
            .image5{
                max-width: 1920px;
                width: 80%;
                margin-bottom: 15%;
            }
            .bg2{
                background-color: black;
                padding: 15% 0;
                position: relative;
                z-index: -2;
            }
            .group3{
                margin: 12% auto 7%;
                .box{
                    position: relative;
                    z-index: -1;
                }
                .img1{
                    width: 65%;
                }
                .img2{
                    width: 65%;
                    position: absolute;
                    right: 0;
                    top: -35%;
                }
            }
            .image6{
                padding: 5%;
                @media (min-width:700px){
                    margin-bottom: 10%;
                    padding: unset;
                }
                .box{
                    margin-left: auto;
                    width: 70%;
                }
            }
            .group4{
                padding: 5%;
                @media (min-width:700px){
                    padding: unset;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    img{
                        width: calc(99% / 2);
                        margin-bottom: 1%;
                    }
                }
            }
            .image7{
                margin-top: 15%;
                .eye{
                    width: 25%;
                    margin: 10% auto 0;
                }
            }
        }
    }
}
footer{
    p{
        position: fixed;
        left: -90px;
        bottom: 180px;
        transform: rotate(-90deg);
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        @media (max-width:1200px) {
            max-width: 500px;
            margin: 100px auto 50px;
            position: unset;
            display: block;
            max-width: 700px;
            transform: rotate(0);
            text-align: center;
        }
    }
}
// scrollbar
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px ghostwhite; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(201, 200, 200); 
    border-radius: 10px;
    height: 100px;
}