body {
  margin: 0;
}

nav .container {
  max-width: 1200px;
  margin: auto;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 700px) {
  nav .container {
    flex-direction: unset;
    align-items: unset;
    justify-content: space-between;
  }
}
nav .container .logo {
  position: fixed;
  z-index: 10;
}
@media (max-width: 700px) {
  nav .container .logo {
    position: unset;
  }
}
nav .container .logo h1 {
  width: 200px;
  margin-bottom: 10px;
}
nav .container .logo h1 .logo_show {
  width: 100%;
}
nav .container .logo h1:hover .logo_show {
  display: none;
}
nav .container .logo h1:hover .logo_hover {
  display: block;
}
nav .container .logo_hover {
  display: none;
}
nav .container .nav_btn {
  position: fixed;
  z-index: 10;
  top: 120.92px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 700px) {
  nav .container .nav_btn {
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 120px;
    background-color: rgba(0, 255, 0, 0.8470588235);
    width: 100%;
    margin: 0 -5%;
    height: 0;
    overflow: hidden;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  nav .container .nav_btn.active {
    transition-timing-function: ease-in-out;
    height: 200px;
  }
}
nav .container .nav_btn span {
  padding: 0 17px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
@media (max-width: 700px) {
  nav .container .nav_btn span {
    display: none;
  }
}
@media (max-width: 700px) {
  nav .container .nav_btn li {
    padding: 50px 0;
  }
  nav .container .nav_btn li:last-child {
    margin-top: -60px;
  }
}
nav .container .nav_btn .text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  color: black;
  text-decoration: none;
  transition: 0.2s;
}
@media (max-width: 700px) {
  nav .container .nav_btn .text {
    font-size: 30px;
  }
}
nav .container .nav_btn .text:hover {
  color: grey;
}
@media (max-width: 700px) {
  nav .container .nav_btn .text:hover {
    color: white;
  }
}
nav .container .bar {
  display: none;
  font-size: 30px;
  margin-top: 35px;
}
@media (max-width: 700px) {
  nav .container .bar {
    display: block;
  }
  nav .container .bar i {
    cursor: pointer;
  }
}

section .banner {
  max-width: 1140px;
  margin: 200px auto 8%;
}
@media (max-width: 700px) {
  section .banner {
    margin-top: 79.08px;
    max-width: 700px;
  }
}
section .banner .image {
  width: 100%;
  margin: auto;
  transition: 0.3s;
}
@media (max-width: 700px) {
  section .banner .image {
    width: 100%;
  }
}
section .banner .image img {
  width: 100%;
}
section .content .intro {
  max-width: 1140px;
  margin: auto;
  padding: 0 5%;
}
section .content .intro .title {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  section .content .intro .title {
    display: block;
  }
}
section .content .intro .title h4 {
  color: #00ff00;
  font-size: 70px;
  line-height: 80px;
  margin: 0;
}
@media (max-width: 700px) {
  section .content .intro .title h4 {
    font-size: 12vw;
    line-height: 14vw;
  }
}
section .content .intro .title h5 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: unset;
  margin-top: 12px;
}
section .content .intro .text_concent {
  padding: 4% 0 6%;
}
@media (min-width: 700px) {
  section .content .intro .text_concent {
    padding-left: 0px;
    padding-left: 100px;
    padding-right: 140px;
  }
}
section .content .intro .text_concent .ch {
  margin: 0;
  font-size: 19px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 2px;
  text-align: justify;
}
section .content .intro .text_concent .web_link {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
}
section .content .intro .text_concent .web_link .arrow {
  width: 55px;
  margin-top: 3px;
}
section .content .intro .text_concent .web_link .arrow img {
  display: block;
  width: 100%;
}
section .content .intro .text_concent .web_link a {
  font-size: 19px;
  color: black;
  text-decoration: none;
  margin-left: 20px;
  margin-top: -1px;
}
section .content .intro .text_concent .web_link a:active {
  color: #00ff00;
}
@media (min-width: 500px) {
  section .content .intro .text_concent .web_link a:hover {
    color: #00ff00;
  }
}
section .content .intro .text_concent .block {
  width: 20px;
  height: 1px;
  margin: 30px 0 40px;
  border-bottom: 1px solid black;
}
section .content .intro .text_concent .en {
  color: #4D4D4D;
}
section .content .work_img .image, section .content .work_img img {
  width: 100%;
  margin-bottom: 10px;
  transition: 0.3s;
}
@media (min-width: 700px) {
  section .content .work_img .image, section .content .work_img img {
    margin-bottom: 0;
  }
}
section .content .work_img .red {
  background-color: #a9000d;
}
@media (min-width: 700px) {
  section .content .work_img .red {
    position: relative;
    z-index: -5;
    margin-top: 20%;
  }
}
section .content .work_img .red .box1140 {
  padding: 0 5%;
  padding-top: 5%;
}
@media (min-width: 700px) {
  section .content .work_img .red .box1140 {
    max-width: 1140px;
    margin: auto;
    padding: 15% 0;
  }
}
section .content .work_img .red .box1140 .web {
  filter: drop-shadow(-25px 40px 12px rgba(49, 25, 25, 0.2));
}
@media (min-width: 700px) {
  section .content .work_img .red .box1140 .web {
    position: absolute;
    top: -10%;
  }
}
section .content .work_img .red .box1140 .web2 {
  filter: drop-shadow(-25px -12px 12px rgba(49, 25, 25, 0.2));
}
@media (min-width: 700px) {
  section .content .work_img .red .box1140 .web2 {
    position: absolute;
    width: 570px;
    left: 50%;
    top: 55%;
  }
}
@media (min-width: 700px) {
  section .content .work_img .red .box1140 .mac {
    position: relative;
    z-index: 2;
    width: 50%;
    margin-left: auto;
  }
}
@media (min-width: 700px) {
  section .content .work_img .brown {
    position: relative;
    z-index: -3;
    background-color: #b89161;
    height: 900px;
    padding-top: 15%;
  }
}
section .content .work_img .gray {
  padding-top: 10%;
  padding-bottom: 25%;
  background-color: #333333;
}
@media (min-width: 700px) {
  section .content .work_img .gray {
    position: relative;
    z-index: -10;
    padding-bottom: 0%;
  }
}
section .content .work_img .gray .image_group {
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 700px) {
  section .content .work_img .gray .image_group {
    max-width: 1140px;
    margin: auto;
    align-items: center;
  }
}
@media (min-width: 700px) {
  section .content .work_img .gray .image_group .box {
    width: 50%;
  }
}
@media (max-width: 700px) {
  section .content .work_img .gray .image_group .box1 {
    width: 100%;
  }
}
@media (max-width: 700px) {
  section .content .work_img .gray .image_group .box2 {
    order: -1;
    width: 100%;
  }
}
@media (max-width: 700px) {
  section .content .work_img .gray .image_group .box3 {
    order: 2;
    width: 40%;
  }
}
@media (max-width: 700px) {
  section .content .work_img .gray .image_group .box4 {
    order: 1;
    width: 100%;
  }
}
section .content .work_img .gray .image_group .color_red {
  width: 100%;
  position: relative;
  background-color: #a9000d;
  display: flex;
  justify-content: center;
}
@media (min-width: 700px) {
  section .content .work_img .gray .image_group .color_red {
    justify-content: flex-end;
  }
}
section .content .work_img .gray .image_group .color_red .text {
  position: absolute;
  color: white;
  font-weight: 700;
  transform: rotate(-90deg);
  top: 15%;
  left: 3%;
}
@media (min-width: 700px) {
  section .content .work_img .gray .image_group .color_red .text {
    left: 5%;
    top: 15%;
  }
}
section .content .work_img .gray .image_group .color_red img {
  width: 60%;
  margin: 23% 0;
}
section .content .work_img .gray .image_group .web {
  filter: drop-shadow(-25px -12px 12px rgba(0, 0, 0, 0.3));
}
section .content .work_img .gray .image_group .web img {
  width: 100%;
}
section .content .work_img .gray .image_group .title, section .content .work_img .gray .image_group .title2 {
  color: #00ff00;
  font-size: 30px;
  line-height: 32px;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}
@media (min-width: 700px) {
  section .content .work_img .gray .image_group .title, section .content .work_img .gray .image_group .title2 {
    padding-bottom: 0;
  }
}
section .content .work_img .gray .image_group .title .title:first-child, section .content .work_img .gray .image_group .title2 .title:first-child {
  padding-top: 50%;
}
@media (max-width: 700px) {
  section .content .work_img .gray .image_group .title2 {
    display: none;
  }
}
section .content .work_img .gray .image_group .mobile_lower {
  position: relative;
  margin-top: -5%;
  z-index: 2;
  left: 30%;
  width: 100%;
}
@media (min-width: 700px) {
  section .content .work_img .gray .image_group .mobile_lower {
    width: 100%;
    left: 35%;
    margin-top: -73%;
  }
}
section .content .work_img .gray .image_group .mobile_lower img {
  filter: drop-shadow(-25px -12px 12px rgba(0, 0, 0, 0.3));
}
@media (min-width: 700px) {
  section .content .work_img .gray .image_group .mobile_lower img {
    width: 40%;
  }
}
section .content .work_img .gray .image_group .mobile_lower .mobile_upper {
  position: absolute;
  z-index: 3;
  width: 100%;
  left: 75%;
  top: 25%;
}
@media (min-width: 700px) {
  section .content .work_img .gray .image_group .mobile_lower .mobile_upper {
    width: 50%;
    left: 33%;
    top: 33%;
  }
}
section .content .work_img .gray .image_group .mobile_lower .mobile_upper img {
  filter: drop-shadow(-25px -12px 12px rgba(0, 0, 0, 0.3));
}
@media (min-width: 700px) {
  section .content .work_img .gray .image_group .mobile_lower .mobile_upper img {
    width: 82%;
  }
}
section .content .work_img .gray .image_group .box4 {
  padding-bottom: 15%;
}
section .content .work_img .gray .image_group .box4 .color_brown {
  position: relative;
  background-color: #b89161;
  display: flex;
  justify-content: center;
}
@media (min-width: 700px) {
  section .content .work_img .gray .image_group .box4 .color_brown {
    justify-content: unset;
    margin-top: 10%;
  }
}
section .content .work_img .gray .image_group .box4 .color_brown .text {
  position: absolute;
  right: 5%;
  bottom: 15%;
  color: white;
  font-weight: 700;
  transform: rotate(-90deg);
}
section .content .work_img .gray .image_group .box4 .color_brown img {
  width: 60%;
  margin: 23% 0;
}
section .content .work_img .pink {
  background-color: #d6b9a2;
}
section .content .work_img .pink .container1140 {
  max-width: 1140px;
  margin: auto;
  padding-bottom: 3%;
}
section .content .work_img .pink .container1140 .mac2 {
  margin: auto;
  width: 55%;
  padding-top: 10%;
}
@media (min-width: 700px) {
  section .content .work_img .pink .container1140 .mac2 {
    padding-bottom: 10%;
  }
}
section .content .work_img .pink .container1140 .copyright {
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
@media (min-width: 700px) {
  section .content .work_img .pink .container1140 .copyright {
    justify-content: flex-start;
  }
}

footer p {
  position: fixed;
  left: -90px;
  bottom: 180px;
  transform: rotate(-90deg);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
@media (max-width: 1200px) {
  footer p {
    max-width: 500px;
    margin: 100px auto 50px;
    position: unset;
    display: block;
    max-width: 700px;
    transform: rotate(0);
    text-align: center;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px ghostwhite;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(201, 200, 200);
  border-radius: 10px;
  height: 100px;
}/*# sourceMappingURL=wowcool-hot-pot.css.map */