body {
  margin: 0;
}

nav .container {
  max-width: 1200px;
  margin: auto;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 700px) {
  nav .container {
    flex-direction: unset;
    align-items: unset;
    justify-content: space-between;
  }
}
nav .container .logo {
  position: fixed;
}
@media (max-width: 700px) {
  nav .container .logo {
    position: unset;
  }
}
nav .container .logo h1 {
  width: 200px;
  margin-bottom: 10px;
}
nav .container .logo h1 .logo_show {
  width: 100%;
}
nav .container .logo h1:hover .logo_show {
  display: none;
}
nav .container .logo h1:hover .logo_hover {
  display: block;
}
nav .container .logo_hover {
  display: none;
}
nav .container .nav_btn {
  position: fixed;
  top: 120.92px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 700px) {
  nav .container .nav_btn {
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 120px;
    background-color: rgba(0, 255, 0, 0.8470588235);
    width: 100%;
    margin: 0 -5%;
    height: 0;
    overflow: hidden;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  nav .container .nav_btn.active {
    transition-timing-function: ease-in-out;
    height: 200px;
  }
}
nav .container .nav_btn span {
  padding: 0 17px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
@media (max-width: 700px) {
  nav .container .nav_btn span {
    display: none;
  }
}
@media (max-width: 700px) {
  nav .container .nav_btn li {
    padding: 50px 0;
  }
  nav .container .nav_btn li:last-child {
    margin-top: -60px;
  }
}
nav .container .nav_btn .text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  color: black;
  text-decoration: none;
  transition: 0.2s;
}
@media (max-width: 700px) {
  nav .container .nav_btn .text {
    font-size: 30px;
  }
}
nav .container .nav_btn .text:hover {
  color: grey;
}
@media (max-width: 700px) {
  nav .container .nav_btn .text:hover {
    color: white;
  }
}
nav .container .bar {
  display: none;
  font-size: 30px;
  margin-top: 35px;
}
@media (max-width: 700px) {
  nav .container .bar {
    display: block;
  }
  nav .container .bar i {
    cursor: pointer;
  }
}

section .banner {
  max-width: 1140px;
  margin: 200px auto 8%;
}
@media (max-width: 700px) {
  section .banner {
    margin-top: 79.08px;
    max-width: 700px;
  }
}
section .banner .image {
  width: 100%;
  margin: auto;
  transition: 0.3s;
}
@media (max-width: 700px) {
  section .banner .image {
    width: 100%;
  }
}
section .banner .image img {
  width: 100%;
}
section .content .intro {
  max-width: 1140px;
  margin: auto;
  padding: 0 5%;
}
section .content .intro .title {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  section .content .intro .title {
    display: block;
  }
}
section .content .intro .title h4 {
  color: #00ff00;
  font-size: 70px;
  line-height: 80px;
  margin: 0;
}
@media (max-width: 700px) {
  section .content .intro .title h4 {
    font-size: 12vw;
    line-height: 14vw;
  }
}
section .content .intro .title h5 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: unset;
  margin-top: 12px;
}
@media (min-width: 700px) {
  section .content .intro .text_concent {
    padding: 4% 0 6%;
    padding-left: 100px;
    padding-right: 120px;
  }
}
section .content .intro .text_concent .ch {
  margin: 0;
  font-size: 19px;
  font-weight: 400;
  line-height: 35px;
  text-align: justify;
}
@media (min-width: 700px) {
  section .content .intro .text_concent .ch {
    letter-spacing: 2px;
  }
}
section .content .intro .text_concent .web_link {
  margin-top: 5%;
  margin-bottom: 5%;
}
@media (min-width: 700px) {
  section .content .intro .text_concent .web_link {
    display: flex;
  }
}
section .content .intro .text_concent .web_link .link {
  padding-right: 0;
  padding-bottom: 5%;
  display: flex;
}
@media (min-width: 700px) {
  section .content .intro .text_concent .web_link .link {
    padding-right: 8%;
    padding-bottom: 0%;
  }
}
section .content .intro .text_concent .web_link .arrow {
  width: 55px;
  margin-top: 3px;
}
section .content .intro .text_concent .web_link .arrow img {
  display: block;
  width: 100%;
}
section .content .intro .text_concent .web_link a {
  font-size: 19px;
  color: black;
  text-decoration: none;
  margin-left: 20px;
  margin-top: -1px;
}
section .content .intro .text_concent .web_link a:active {
  color: #00ff00;
}
@media (min-width: 500px) {
  section .content .intro .text_concent .web_link a:hover {
    color: #00ff00;
  }
}
section .content .intro .text_concent .web_link span {
  font-size: 17px;
  color: #606160;
}
section .content .intro .text_concent .block {
  width: 20px;
  height: 1px;
  margin: 30px 0 40px;
  border-bottom: 1px solid black;
}
section .content .intro .text_concent .en {
  color: #4D4D4D;
}
section .content .work_img {
  max-width: 1140px;
  margin: auto;
  background-color: #ceab83;
  padding-top: 5%;
}
@media (min-width: 700px) {
  section .content .work_img {
    background-color: unset;
  }
}
section .content .work_img .image, section .content .work_img img {
  width: 100%;
  margin-bottom: 10px;
  transition: 0.3s;
}
section .content .work_img .web {
  padding: 0 5%;
}
@media (min-width: 700px) {
  section .content .work_img .web {
    background-color: #ceab83;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    padding: 8% 6% 0;
  }
}
@media (min-width: 700px) {
  section .content .work_img .web .image_groupL, section .content .work_img .web .image_groupR {
    width: 48%;
  }
}
section .content .work_img .web .image_groupL img, section .content .work_img .web .image_groupR img {
  margin-bottom: 20px;
}
@media (min-width: 700px) {
  section .content .work_img .web .image_groupL {
    position: relative;
    z-index: -1;
  }
}
@media (min-width: 700px) {
  section .content .work_img .web .image_groupL .block {
    position: absolute;
    bottom: 10%;
    left: 60%;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 0, 13, 0.9176470588);
    border-radius: 75px 75px 75px 0;
  }
}
@media (min-width: 700px) {
  section .content .work_img .web .image_groupR {
    margin-top: 30%;
    margin-bottom: 22%;
  }
}
@media (min-width: 700px) {
  section .content .work_img .web .image_groupR .block1 {
    position: absolute;
    top: -3%;
    left: 71%;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 0, 13, 0.9176470588);
    border-radius: 0 75px 75px 75px;
  }
}
@media (min-width: 700px) {
  section .content .work_img .web .image_groupR .block2 {
    position: absolute;
    z-index: -2;
    top: 16%;
    left: 71%;
    width: 300px;
    height: 150px;
    background-color: rgba(255, 0, 13, 0.9176470588);
    border-radius: 75px 0 75px 75px;
  }
}
section .content .work_img .mobile {
  display: none;
}
@media (min-width: 700px) {
  section .content .work_img .mobile {
    display: block;
    position: absolute;
    z-index: 2;
    width: 20%;
    left: 40%;
    top: 35%;
  }
  section .content .work_img .mobile img {
    width: 100%;
    filter: drop-shadow(-25px -12px 12px rgba(44, 15, 15, 0.3));
  }
  section .content .work_img .mobile img:first-child {
    margin-bottom: 110%;
  }
}
section .content .work_img .image_concept {
  padding: 0 5%;
}
@media (min-width: 700px) {
  section .content .work_img .image_concept {
    background-color: #ceab83;
    padding: 7% 6% 10%;
  }
}
@media (min-width: 700px) {
  section .content .image_full {
    max-width: 1920px;
    width: 100%;
  }
}
section .content .image_full .box {
  position: relative;
  margin: 0 auto;
  width: 60%;
  top: 95px;
}
@media (min-width: 700px) {
  section .content .image_full .box {
    width: 700px;
    margin: 0 auto;
    top: 300px;
  }
}
section .content .image_full .box .mac {
  position: absolute;
  width: 100%;
}
section .content .image_full img {
  width: 100%;
}
@media (min-width: 700px) {
  section .content .image_full .block {
    max-width: 1140px;
    margin: auto;
    margin-top: -4px;
    height: 200px;
    background-color: #ceab83;
  }
}

footer p {
  position: fixed;
  left: -90px;
  bottom: 180px;
  transform: rotate(-90deg);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
@media (max-width: 1200px) {
  footer p {
    max-width: 500px;
    margin: 100px auto 50px;
    position: unset;
    display: block;
    max-width: 700px;
    transform: rotate(0);
    text-align: center;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px ghostwhite;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(201, 200, 200);
  border-radius: 10px;
  height: 100px;
}/*# sourceMappingURL=youenme.css.map */